{% extends "user/layout.html" %}
{% set title = "发件箱" %}

{% block page_content %}

	<div>
	  {% if messages %}
	  <h3>发件箱</h3>
	  <table>
	    <thead>
	      <tr>
	        <th>收件人</th>
	        <th>标题</th>
	        <th>时间</th>
	        <th>删除</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for M in messages %}
	      <tr>
	        <td><a href="{{ url_for('user.posts', username=M.receiver.username) }}">{{ M.receiver.username }}</a></td>
	        <td><a href="{{ url_for('message.view', message_id=M.id) }}">{{ M.subject }}</a></td>
	        <td>{{ M.dateshow }}</td>
	        <td> <a href="#" onclick="delete_message('{{ url_for("message.delete", message_id=M.id) }}')">删除</a> </td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	
	  {% else %}
	    <p>未发送过信息</p>
	  {% endif %}
	</div>

{% endblock %}
