{% extends "user/layout.html" %}
{% set title = "发送消息" %}
{% from "macros/_forms.html" import render_errors %}


{% block page_content %}

<h3>写消息</h3>

<div>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.sendto.label }} {{ form.sendto() }}  {{ render_errors( form.sendto) }} <br/>
    {{ form.subject.label }} {{ form.subject() }} {{ render_errors( form.subject ) }} <br/>
    {{ form.content.label }} {{ form.content(rows=22,cols=70) }} {{ render_errors( form.content) }} <br/>
	{{ form.submit }}
  </form>
</div>

{% endblock %}

