{% extends "layout.html" %}
{% set title = "联系我们" %}

{% from "macros/_forms.html" import render_errors %}

{% block content %}
<div class="contact_us">
	<h2>联系我们</h2>
	<p> 如果你对本站有什么问题，建议或者意见，给我们留下信息：</p>
	<form method="POST" action=".">
	    {{ form.hidden_tag() }}
	
	    {{ render_errors(form.name) }}
	    {{ form.name.label }}
	    {{ form.name }}
	
	    {{ render_errors(form.email) }}
	    {{ form.email.label }}
	    {{ form.email }}
	
	    {{ render_errors(form.subject) }}
	    {{ form.subject.label }}
	    {{ form.subject }}
	
	    {{ render_errors(form.message) }}
	    {{ form.message.label }}
	    {{ form.message }}
	
	    {{ form.submit }}
	
	</form>
</div>
{% endblock %}

